openapi: 3.0.0
info:
  title: Tonal Unofficial API
  version: 6.0.0
  description:
    "Reverse-engineered Tonal API from mitmproxy traffic captures (Mar 11 & Mar 15, 2026). All endpoints require
    Bearer token auth via Auth0 (tonal.auth0.com).


    103 endpoints across user data, workouts, programs, social, and device management.


    Auth flow: POST https://tonal.auth0.com/oauth/token with password-realm grant, client ID ERCyexW-xoVG_Yy3RDe-eV4xsOnRHP6L,
    scope openid profile email offline_access."
servers:
  - url: https://api.tonal.com
    description: Tonal Production API
  - url: https://media-api.tonal.com
    description: Tonal Media API
  - url: https://assets-cdn.tonal.com
    description: Tonal Assets CDN
  - url: https://media-cdn.tonal.com
    description: Tonal Media CDN
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 JWT token from Tonal login
security:
  - bearerAuth: []
paths:
  /v5/api/interaction-logs:
    post:
      summary: POST interaction-logs
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  ingested:
                    type: number
                  dropped:
                    type: number
              example:
                code: 200
                ingested: 42
                dropped: 0
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ? '{"id":"165d3760-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:16.726058Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Account","platform":"mobile"}}

                  {"id":"165dd3a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:16.729957Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                  {"id":"197dd850-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Account Updated","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:21.973738Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"fieldUpdated":"firstName","firstName":"Jef","lastName":"Otano","userName":"jephpho","email":"otano.jeffrey@gmail.com","location":"Colorado","gender":"male","userLevel":"advanced","userGoal":"
                  build muscle","daysPerWeek":"4","height":"69","weight":"174","birthday":"1995-03-29","platform":"mobile"}}

                  {"id":"1a7fdf00-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:23.656593Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Edit
                  Account","platform":"mobile"}}

                  {"id":"1bf281d0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.093204Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Account","platform":"mobile"}}

                  {"id":"1bf2f700-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.096567Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                  {"id":"1c6c1ea0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Account Updated","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.890215Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"fieldUpdated":"firstName","firstName":"Jeff","lastName":"Otano","userName":"jephpho","email":"otano.jeffrey@gmail.com","location":"Colorado","gender":"male","userLevel":"advanced","userGoal":"
                  build muscle","daysPerWeek":"4","height":"69","weight":"174","birthday":"1995-03-29","platform":"mobile"}}

                  {"id":"1d537160-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:28.399287Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Membership","platform":"mobile"}}

                  {"id":"1e592190-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:30.116244Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Linked
                  Your Orders","platform":"mobile"}}

                  {"id":"1ffdf7f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:32.816888Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Body '
                : type: string
                ? ' Health","platform":"mobile"}}

                  {"id":"22d3fb50-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.637412Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Body '
                : type: string
                ? ' Health","platform":"mobile"}}

                  {"id":"22d50cc0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.644168Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                  {"id":"22f035e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Body Health Set","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.822155Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"weightPounds":"171","platform":"mobile"}}

                  {"id":"2ba95590-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:52.395178Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Push
                  Notification Settings","platform":"mobile"}}

                  {"id":"2d7478a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:55.466188Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom","platform":"mobile"}}

                  {"id":"2f11ade0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:58.174487Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Explore","platform":"mobile"}}

                  {"id":"301673b0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:59.883538Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Explore:
                  Movements - Filters","platform":"mobile"}}

                  {"id":"3134b4f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:01.759347Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom","platform":"mobile"}}

                  {"id":"3476e7a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:07.226140Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                  workout","platform":"mobile"}}

                  {"id":"34f78950-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:08.069474Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                  {"id":"36b2f4f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:10.975498Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Name
                  Your Workout","platform":"mobile"}}

                  {"id":"37878300-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:12.367910Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Create","modalTitle":"TonalDialog","platform":"mobile"}}

                  {"id":"37aa7450-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:12.578150Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                  Workout Draft Screen","platform":"mobile"}}

                  {"id":"396da820-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:15.554752Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Custom
                  Workout Draft Screen","platform":"mobile"}}

                  {"id":"39706740-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:15.572332Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                  {"id":"39b9a540-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Custom Workout
                  Created","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:16.051790Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"customWorkoutId":"cae56f5e-effa-4c7a-b2f7-1a2ffc9f5669","customWorkoutDuration":"24","customWorkoutName":"PPL
                  - Week 1: Pull (copy)","description":"","numberOfBlocks":"1","numberOfMoves":"5","platform":"mobile","howCreated":"Scratch"}}

                  {"id":"39bc6460-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:16.057871Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                  Workout Confirmation Screen","platform":"mobile"}}

                  {"id":"3a986c80-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:17.512390Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Not
                  Now","screenTitle":"Custom Workout Confirmation Screen","platform":"mobile"}}

                  {"id":"3bb240f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:19.359741Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                  workout","platform":"mobile"}}

                  {"id":"3c18a3e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:20.030359Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                  {"id":"3d1f6580-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:21.752290Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                  workout","platform":"mobile"}}

                  {"id":"3d830950-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:22.405100Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                  {"id":"3e559b90-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:23.785684Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                  workout","platform":"mobile"}}

                  {"id":"3eb2fdd0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:24.397357Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                  {"id":"4008f0e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:26.637891Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                  Custom Workout","screenTitle":"Custom Workouts","destination":"Custom Workout Draft Screen","platform":"mobile"}}

                  {"id":"5851ad40-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:07.380696Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                  {"id":"588196e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:07.682306Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                  Workout Draft Screen","platform":"mobile"}}

                  {"id":"5a91b230-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Block Added","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:11.155103Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"WorkoutId":"b0d0d838-4db3-40b5-92c9-15014e9dc220","WorkoutName":"Push
                  C","numberOfBlocks":"4","platform":"mobile"}}

                  {"id":"5a91b231-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:11.155296Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                  Block","screenTitle":"Custom Workout Draft Screen","platform":"mobile"}}

                  {"id":"5b5465f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:12.431078Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                  Move","screenTitle":"Custom Workout Draft Screen","platform":"mobile"}}

                  {"id":"5b60c200-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:12.433212Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Movement
                  Picker screen","platform":"mobile"}}

                  {"id":"5cec9220-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:15.041794Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Edit
                  Movement","platform":"mobile"}}'
                : type: string
            example:
              ? '{"id":"165d3760-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:16.726058Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Account","platform":"mobile"}}

                {"id":"165dd3a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:16.729957Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                {"id":"197dd850-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Account Updated","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:21.973738Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"fieldUpdated":"firstName","firstName":"Jef","lastName":"Otano","userName":"jephpho","email":"otano.jeffrey@gmail.com","location":"Colorado","gender":"male","userLevel":"advanced","userGoal":"build
                muscle","daysPerWeek":"4","height":"69","weight":"174","birthday":"1995-03-29","platform":"mobile"}}

                {"id":"1a7fdf00-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:23.656593Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Edit
                Account","platform":"mobile"}}

                {"id":"1bf281d0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.093204Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Account","platform":"mobile"}}

                {"id":"1bf2f700-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.096567Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                {"id":"1c6c1ea0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Account Updated","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:26.890215Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"fieldUpdated":"firstName","firstName":"Jeff","lastName":"Otano","userName":"jephpho","email":"otano.jeffrey@gmail.com","location":"Colorado","gender":"male","userLevel":"advanced","userGoal":"build
                muscle","daysPerWeek":"4","height":"69","weight":"174","birthday":"1995-03-29","platform":"mobile"}}

                {"id":"1d537160-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:28.399287Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Membership","platform":"mobile"}}

                {"id":"1e592190-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:30.116244Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Linked
                Your Orders","platform":"mobile"}}

                {"id":"1ffdf7f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:32.816888Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Body '
              : ""
              ? ' Health","platform":"mobile"}}

                {"id":"22d3fb50-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.637412Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Body '
              : ""
              ? ' Health","platform":"mobile"}}

                {"id":"22d50cc0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.644168Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                {"id":"22f035e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Body Health Set","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:37.822155Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"weightPounds":"171","platform":"mobile"}}

                {"id":"2ba95590-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:52.395178Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Push
                Notification Settings","platform":"mobile"}}

                {"id":"2d7478a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:55.466188Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom","platform":"mobile"}}

                {"id":"2f11ade0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:58.174487Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Explore","platform":"mobile"}}

                {"id":"301673b0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:52:59.883538Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Explore:
                Movements - Filters","platform":"mobile"}}

                {"id":"3134b4f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:01.759347Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom","platform":"mobile"}}

                {"id":"3476e7a0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:07.226140Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                workout","platform":"mobile"}}

                {"id":"34f78950-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:08.069474Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                {"id":"36b2f4f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:10.975498Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Name
                Your Workout","platform":"mobile"}}

                {"id":"37878300-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:12.367910Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Create","modalTitle":"TonalDialog","platform":"mobile"}}

                {"id":"37aa7450-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:12.578150Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                Workout Draft Screen","platform":"mobile"}}

                {"id":"396da820-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:15.554752Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Save","screenTitle":"Custom
                Workout Draft Screen","platform":"mobile"}}

                {"id":"39706740-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:15.572332Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                {"id":"39b9a540-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Custom Workout Created","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:16.051790Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"customWorkoutId":"cae56f5e-effa-4c7a-b2f7-1a2ffc9f5669","customWorkoutDuration":"24","customWorkoutName":"PPL
                - Week 1: Pull (copy)","description":"","numberOfBlocks":"1","numberOfMoves":"5","platform":"mobile","howCreated":"Scratch"}}

                {"id":"39bc6460-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:16.057871Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                Workout Confirmation Screen","platform":"mobile"}}

                {"id":"3a986c80-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:17.512390Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Not
                Now","screenTitle":"Custom Workout Confirmation Screen","platform":"mobile"}}

                {"id":"3bb240f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:19.359741Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                workout","platform":"mobile"}}

                {"id":"3c18a3e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:20.030359Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                {"id":"3d1f6580-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:21.752290Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                workout","platform":"mobile"}}

                {"id":"3d830950-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:22.405100Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                {"id":"3e559b90-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:23.785684Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"Delete
                workout","platform":"mobile"}}

                {"id":"3eb2fdd0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:24.397357Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Delete","modalTitle":"TonalDialog","platform":"mobile"}}

                {"id":"4008f0e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:53:26.637891Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                Custom Workout","screenTitle":"Custom Workouts","destination":"Custom Workout Draft Screen","platform":"mobile"}}

                {"id":"5851ad40-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Modal Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:07.380696Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"modalName":"loading","platform":"mobile"}}

                {"id":"588196e0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:07.682306Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Custom
                Workout Draft Screen","platform":"mobile"}}

                {"id":"5a91b230-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Block Added","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:11.155103Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"WorkoutId":"b0d0d838-4db3-40b5-92c9-15014e9dc220","WorkoutName":"Push
                C","numberOfBlocks":"4","platform":"mobile"}}

                {"id":"5a91b231-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:11.155296Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                Block","screenTitle":"Custom Workout Draft Screen","platform":"mobile"}}

                {"id":"5b5465f0-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Button Tapped","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:12.431078Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"buttonText":"Add
                Move","screenTitle":"Custom Workout Draft Screen","platform":"mobile"}}

                {"id":"5b60c200-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:12.433212Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Movement
                Picker screen","platform":"mobile"}}

                {"id":"5cec9220-20a0-11f1-9cd8-970e5a3e8a59","type":"UserEvent","source":"Mobile","name":"Screen Viewed","sessionId":"02fd9c65-209f-11f1-9cd8-970e5a3e8a59","deviceId":"8DD0117A-7697-402A-8037-C9EA2E96C995","deviceModel":"iPhone18,1","deviceVersion":"","appName":"Tonal","appVersion":"8.8.0","appBuild":"4004631","osVersion":"26.4","osName":"ios","timezone":"America/Denver","timestamp":"2026-03-15T18:54:15.041794Z","anonymousId":"8DD0117A-7697-402A-8037-C9EA2E96C995","userId":"f12eafc8-b9b1-3146-b0cf-eb39a08203e2","osBuild":"","properties":{"screenTitle":"Edit
                Movement","platform":"mobile"}}'
              : ""
      tags:
        - System
  /v6/assets/{assetId}:
    get:
      responses:
        "302":
          description: Successful response
      parameters:
        - name: height
          in: query
          schema:
            type: string
          example: "1350"
        - name: width
          in: query
          schema:
            type: string
          example: "2400"
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - System
  /v6/bootstrap:
    get:
      summary: GET bootstrap
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  major:
                    type: number
                  minor:
                    type: number
                  patch:
                    type: number
                  platform:
                    type: string
              example:
                major: 8
                minor: 8
                patch: 0
                platform: ""
      tags:
        - System
  /v6/coaches:
    get:
      summary: GET coaches
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    isNew:
                      type: boolean
                    fitnessModel:
                      type: object
                      nullable: true
                    fitnessModelId:
                      type: string
                    instagramHandle:
                      type: string
                    assetId:
                      type: string
                    liveAssetId:
                      type: string
                    active:
                      type: boolean
                    bannerAssetId:
                      type: string
                    song:
                      type: string
                    trainingStyle:
                      type: string
                    about:
                      type: string
                    specialtyGoalIds:
                      type: array
                      items:
                        type: string
                    infoVidId:
                      type: string
                    userId:
                      type: string
                    featured:
                      type: boolean
                    isGuest:
                      type: boolean
              example:
                - id: 9498168a-0f56-4c05-a191-0e25ab9cbf52
                  name: Kristina Centenari
                  firstName: Kristina
                  lastName: Centenari
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 10c8813d-b852-4507-a16d-6a40ab528c75
                  instagramHandle: kristina_centenari
                  assetId: 310e9f8a-8af6-4d25-9c86-86a49beeb673
                  liveAssetId: 660a22b3-6a00-42c4-aff8-d1ce06273626
                  active: true
                  bannerAssetId: 94142322-bb28-4394-9849-63a06441bec2
                  song: “Mr. Brightside” by The Killers
                  trainingStyle: Inspirational and Encouraging
                  about:
                    Tennis, skiing, endurance events—Kristina does it all. As a mobility expert, she’ll teach you to move
                    with the versatility of an athlete and empower you to build mental strength.
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  infoVidId: 6995452a-ba2a-4533-b8d1-7ad2ef717e9c
                  userId: ac5aa946-a13e-3276-a5b0-3ac3eb9b8216
                  featured: false
                  isGuest: false
                - id: bb064565-6f18-41e7-abb8-c44b14d38b8a
                  name: Betina Gozo Shimonek
                  firstName: Betina
                  lastName: Gozo Shimonek
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  instagramHandle: betinagozo
                  assetId: a3ac6622-b262-49c6-87fd-4cd431336493
                  liveAssetId: 6c74dd1b-6f9b-4bf2-8da2-65cdcccfda85
                  active: true
                  bannerAssetId: bfd49d01-423a-4804-a6b2-9c97999b4b55
                  trainingStyle: Resilient and Empowering
                  about:
                    An expert in prenatal and postpartum strength (and a mom herself), Betina’s tough-but-approachable
                    training style helps you build strength and body awareness at your own pace.
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  featured: false
                  isGuest: true
                - id: 57b221b1-2e57-4330-b26f-54509fc4f0cf
                  name: Jake Ferree
                  firstName: Jake
                  lastName: Ferree
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  instagramHandle: jakeferree1
                  assetId: ad6a37de-a174-428e-a652-f7133254e614
                  liveAssetId: 4b73ba14-52fa-452b-9875-ed68c3f31533
                  active: true
                  bannerAssetId: 449c9786-6878-44de-8153-af94c7754b7e
                  song: "Audiobooks or podcasts "
                  trainingStyle: Authentic and Heartfelt
                  about:
                    "Coach Jake has always found strength, power, and a sense of self through fitness As a personal trainer,
                    yoga instructor, breath work and meditation specialist, he combines his athletic background with techniques
                    to help you find your truest, strongest self.  "
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  featured: false
                  isGuest: true
                - id: 10742931-d6ff-4467-aedf-361351ecbbdb
                  name: Lance Parker
                  firstName: Lance
                  lastName: Parker
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  instagramHandle: lanceaparker
                  assetId: 844b4eb9-1ee6-469f-a057-7183e1907da8
                  liveAssetId: c8df120f-e2a3-451f-80fd-63e11025e901
                  active: true
                  bannerAssetId: 56baff84-72fd-4cd8-9468-18a468d2f790
                  trainingStyle: Inviting and Knowledgeable
                  about:
                    A pro soccer player turned endurance athlete, Lance combines a data-driven approach with his extensive
                    knowledge of training methodologies to turn your potential into progress.
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  featured: false
                  isGuest: true
                - id: 4509d33a-075c-4831-bd8a-442b5db48cef
                  name: Emily Meersand
                  firstName: Emily
                  lastName: Meersand
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  active: false
                  featured: false
                  isGuest: false
                - id: b38791d0-5c1e-48b9-ab95-4ca4f42ed06d
                  name: Laura Jackling
                  firstName: Laura
                  lastName: Jackling
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  active: false
                  featured: false
                  isGuest: false
                - id: b560193a-bb70-4ee9-8397-cf1328f228e2
                  name: Catherine Donnelly
                  firstName: Catherine
                  lastName: Donnelly
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  active: false
                  featured: false
                  isGuest: false
                - id: 9de0cdf4-3e89-459e-84ad-bdb763d79c3c
                  name: Leia Layus
                  firstName: Leia
                  lastName: Layus
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  active: false
                  featured: false
                  isGuest: false
                - id: a75b9536-410a-429c-be40-60e29f29a37f
                  name: Rachel Nicks
                  firstName: Rachel
                  lastName: Nicks
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 00000000-0000-0000-0000-000000000000
                  instagramHandle: rachelenicks
                  assetId: f8d5cafc-7cf3-4671-b16c-8d4e265e3be5
                  liveAssetId: eba8f7d9-fcc4-4a81-9161-0f24d3dfdba8
                  active: true
                  bannerAssetId: e1af673b-ebb3-4255-8f2d-8cf2ebc0fc6e
                  trainingStyle: Authentic and Joyful
                  about:
                    As a Pilates, prenatal, and postpartum training expert, Rachel empowers women of all ages to find their
                    strength. She’ll have you laughing, sweating, and moving with awareness.
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  featured: false
                  isGuest: true
                - id: 8aa73263-2c6e-4796-a9a9-ae35b420e51d
                  name: Kristin McGee
                  firstName: Kristin
                  lastName: McGee
                  isNew: false
                  fitnessModel: null
                  fitnessModelId: 14d9595d-f026-4e6a-ba39-35699145338b
                  instagramHandle: kristinmcgee
                  assetId: 62c2df1a-ad5d-47b5-8f4c-10ba7e88011f
                  liveAssetId: ad431c2f-48aa-4078-9329-8cc60fe69f44
                  active: true
                  bannerAssetId: 77e10d42-9842-4c85-937f-4f14186014d6
                  song: “Walking on Sunshine” by Katrina & The Waves
                  trainingStyle: Supportive and Uplifting
                  about:
                    "Kristin is a world-class expert in yoga, Pilates, strength, and empowering women of all ages. She’ll
                    help you find joy, confidence, and connection through mindful movement. "
                  specialtyGoalIds:
                    - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                  featured: true
                  isGuest: false
      tags:
        - System
  /v6/explore/on-the-go:
    get:
      summary: GET on-the-go
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    type:
                      type: string
                    tiles:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          programId:
                            type: string
                          resourceId:
                            type: string
                          assetId:
                            type: string
                          title:
                            type: string
                          subtitle:
                            type: string
                          duration:
                            type: number
                          level:
                            type: string
                          weeks:
                            type: number
                          workoutsPerWeek:
                            type: number
                          coachId:
                            type: string
                          coachIds:
                            type: array
                            items:
                              type: string
                          coachName:
                            type: string
                          publishedAt:
                            type: string
                          goalIds:
                            type: array
                            items:
                              type: string
                          trainingGoalIds:
                            type: array
                            items:
                              type: string
                          mobileFriendly:
                            type: boolean
                          supportedDevices:
                            type: array
                            items:
                              type: string
                          accessories:
                            type: array
                            items:
                              type: string
                    filterItemId:
                      type: string
                    filterItemIds:
                      type: array
                      items:
                        type: string
                    total:
                      type: number
                    sortOrder:
                      type: number
                    tileSize:
                      type: string
              example:
                - id: 8668af7f-f2f7-433d-86c0-cf4536269d08
                  title: Programs
                  type: PROGRAMS
                  tiles:
                    - type: PROGRAM
                      programId: b8b93fd6-e719-43d0-94ef-cd3e478a90dd
                      resourceId: b8b93fd6-e719-43d0-94ef-cd3e478a90dd
                      assetId: 795d3e96-159a-4e32-8f32-a82327321139
                      title: Gains on the Go
                      subtitle: 4 days a week for 2 weeks
                      duration: 0
                      level: INTERMEDIATE
                      weeks: 2
                      workoutsPerWeek: 4
                      coachId: 002a6841-fdaf-4086-9607-6d8c61e5a9fd
                      coachIds:
                        - 002a6841-fdaf-4086-9607-6d8c61e5a9fd
                        - e30ec4dc-5f1f-4395-a06e-32358359a923
                        - 6881eee7-d506-4a89-bf29-889b75de6771
                        - 8dba5cde-0242-48ff-b2d3-e5099a8e15bc
                      coachName: Tanysha
                      publishedAt: "2025-05-23T14:57:18.106755Z"
                      goalIds:
                        - 8b6b9aae-a5a9-4931-96a1-5add13d21b72
                      trainingGoalIds:
                        - 6e93bbb0-bc42-452a-8bd5-1221804a3e53
                      mobileFriendly: true
                      supportedDevices:
                        - Elite
                        - Classic
                        - T3
                      accessories:
                        - Mat
                        - Bench
                        - Roller
                    - type: PROGRAM
                      programId: 395fdf41-1faf-4e04-b6f8-68be07fbad39
                      resourceId: 395fdf41-1faf-4e04-b6f8-68be07fbad39
                      assetId: 1741390c-418e-441f-b5dc-79db3afb93db
                      title: Bodyweight Ramp-Up
                      subtitle: 3 days a week for 2 weeks
                      duration: 0
                      level: BEGINNER
                      weeks: 2
                      workoutsPerWeek: 3
                      coachId: 744a2d5a-97bf-41d3-bc07-957d1710d67b
                      coachIds:
                        - 744a2d5a-97bf-41d3-bc07-957d1710d67b
                      coachName: Brendon
                      publishedAt: "2022-10-20T21:53:13.378915Z"
                      goalIds:
                        - 8b6b9aae-a5a9-4931-96a1-5add13d21b72
                      trainingGoalIds:
                        - 6e93bbb0-bc42-452a-8bd5-1221804a3e53
                        - cbfae767-8d3d-4e7d-b682-c46935503473
                        - d165ab32-17cf-4c6d-859a-e423eac0e591
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      accessories:
                        - Mat
                    - type: PROGRAM
                      programId: 42b765c8-cc35-4644-99ee-aaf0893e2f62
                      resourceId: 42b765c8-cc35-4644-99ee-aaf0893e2f62
                      assetId: 1c24df4f-ac41-4c4f-af26-e214b16920af
                      title: Bodyweight Discovery
                      subtitle: 3 days a week for 2 weeks
                      duration: 0
                      level: BEGINNER
                      weeks: 2
                      workoutsPerWeek: 3
                      coachId: f43b532d-f362-4b04-bce4-95dbaa64c0d3
                      coachIds:
                        - f43b532d-f362-4b04-bce4-95dbaa64c0d3
                      coachName: Allison
                      publishedAt: "2022-10-20T20:18:52.325911Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      trainingGoalIds:
                        - 6e93bbb0-bc42-452a-8bd5-1221804a3e53
                        - cbfae767-8d3d-4e7d-b682-c46935503473
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      accessories:
                        - Mat
                    - type: PROGRAM
                      programId: 2ce40ce2-441c-48ba-aa9a-b0a2cbc57b29
                      resourceId: 2ce40ce2-441c-48ba-aa9a-b0a2cbc57b29
                      assetId: caf472b3-f3b2-4781-9d66-72de05cc5e15
                      title: "Blazing Bootcamp: Bodyweight Heat"
                      subtitle: 4 days a week for 2 weeks
                      duration: 0
                      level: INTERMEDIATE
                      weeks: 2
                      workoutsPerWeek: 4
                      coachId: 465c952c-b5a2-4d2d-971e-0d809e6eda65
                      coachIds:
                        - 465c952c-b5a2-4d2d-971e-0d809e6eda65
                      coachName: Frances
                      publishedAt: "2022-03-07T18:15:59.275813Z"
                      goalIds:
                        - 8b6b9aae-a5a9-4931-96a1-5add13d21b72
                      trainingGoalIds:
                        - d165ab32-17cf-4c6d-859a-e423eac0e591
                        - 6e93bbb0-bc42-452a-8bd5-1221804a3e53
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      accessories:
                        - Mat
                  filterItemId: 9e92cde4-431d-42fb-b96a-23f7c9dbc262
                  filterItemIds:
                    - 9e92cde4-431d-42fb-b96a-23f7c9dbc262
                  total: 4
                  sortOrder: 0
                  tileSize: Medium
                - id: 8fa7ed62-e8c0-4520-a317-86ccca1f665e
                  title: Strength
                  type: WORKOUTS
                  tiles:
                    - type: WORKOUT
                      workoutId: 7aa56722-5f77-45c8-8ab8-e6da179b5dbf
                      resourceId: 7aa56722-5f77-45c8-8ab8-e6da179b5dbf
                      assetId: 0937dc09-fab9-4656-9e22-8e97943474c9
                      title: "Quick Fit: Core Shred"
                      duration: 866
                      level: ADVANCED
                      targetArea: CORE
                      coachId: 94c66414-96c3-404f-9cb5-42a6f70bcd66
                      coachName: Tim
                      publishedAt: "2023-03-27T18:12:27.407628Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: f9b5da17-c24b-49de-9612-e2a3d5890cb4
                      resourceId: f9b5da17-c24b-49de-9612-e2a3d5890cb4
                      assetId: bb2b3fae-c89e-4881-a9e1-2f558b700988
                      title: "Quick Fit: Core Stamina"
                      duration: 782
                      level: BEGINNER
                      targetArea: CORE
                      coachId: 002a6841-fdaf-4086-9607-6d8c61e5a9fd
                      coachName: Tanysha
                      publishedAt: "2023-03-20T16:44:04.299055Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: babf2517-b266-4a42-9c65-38cd257e027b
                      resourceId: babf2517-b266-4a42-9c65-38cd257e027b
                      assetId: ed23f515-fb10-42ed-a1e6-a374dca9901a
                      title: "Quick Fit: Crush the Core"
                      duration: 575
                      level: ADVANCED
                      targetArea: CORE
                      coachId: 8dba5cde-0242-48ff-b2d3-e5099a8e15bc
                      coachName: Ackeem
                      publishedAt: "2023-03-13T17:39:34.915541Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 048c07f2-75fd-4f04-a5bd-0072ed8b2664
                      resourceId: 048c07f2-75fd-4f04-a5bd-0072ed8b2664
                      assetId: f8d41504-d792-48ed-954b-a29e95a543f9
                      title: "Quick Fit: Plank Progressions"
                      duration: 817
                      level: INTERMEDIATE
                      targetArea: CORE
                      coachId: 9498168a-0f56-4c05-a191-0e25ab9cbf52
                      coachName: Kristina
                      publishedAt: "2023-03-06T21:49:32.685873Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 69e14f76-0114-46e4-ab16-edda6f0270bf
                      resourceId: 69e14f76-0114-46e4-ab16-edda6f0270bf
                      assetId: b2d3802f-e20f-4db8-ae4a-d8d184128eaf
                      title: "Quick Fit: Bodyweight Abs"
                      duration: 657
                      level: BEGINNER
                      targetArea: CORE
                      coachId: 94c66414-96c3-404f-9cb5-42a6f70bcd66
                      coachName: Tim
                      publishedAt: "2023-02-21T18:08:54.097076Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 7ddb9069-c550-4e89-a32d-5b19a3451ddc
                      resourceId: 7ddb9069-c550-4e89-a32d-5b19a3451ddc
                      assetId: 872cb2e4-da09-43c1-b18d-461f45602fd9
                      title: "Quick Fit: Core on the Floor"
                      duration: 894
                      level: INTERMEDIATE
                      targetArea: CORE
                      coachId: 556af4c0-da08-44b0-8ab3-f49b32e55dc5
                      coachName: Trace
                      publishedAt: "2022-03-14T17:28:55.093066Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      trainingGoalIds:
                        - 6e93bbb0-bc42-452a-8bd5-1221804a3e53
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      accessories:
                        - Mat
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 13626101-5648-46a4-af03-0b9ec19d7242
                      resourceId: 13626101-5648-46a4-af03-0b9ec19d7242
                      assetId: 727b0424-8277-48a3-9729-8d479b78cc9b
                      title: "Quick Fit: Core Challenge"
                      duration: 688
                      level: ADVANCED
                      targetArea: CORE
                      coachId: 744a2d5a-97bf-41d3-bc07-957d1710d67b
                      coachName: Brendon
                      publishedAt: "2021-08-16T18:02:56.641917Z"
                      goalIds:
                        - 8b6b9aae-a5a9-4931-96a1-5add13d21b72
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 1a40b3e1-d57a-492a-9e12-45e0f1ee9337
                      resourceId: 1a40b3e1-d57a-492a-9e12-45e0f1ee9337
                      assetId: 61fb4011-0dfa-4860-b590-02857afe0ed0
                      title: Bodyweight Ab Blaster
                      duration: 743
                      level: INTERMEDIATE
                      targetArea: CORE
                      coachId: 795c32e8-a3d4-4ae7-954f-efbce7008bb4
                      coachName: Nicolette
                      publishedAt: "2021-08-09T20:12:35.353319Z"
                      goalIds:
                        - b27138bc-0624-4abb-babf-9b4be911dd5b
                      badge: Fit And Fast
                      filterItemIds:
                        - 5ee70f4c-1734-4135-a14f-854138302fae
                      trainingTypeIds:
                        - db2ad36f-7021-4544-9f20-96bab2531597
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Strength
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                  filterItemId: 5ee70f4c-1734-4135-a14f-854138302fae
                  filterItemIds:
                    - 5ee70f4c-1734-4135-a14f-854138302fae
                    - 43b77f8e-8f4e-4809-bcf1-2527e57c2699
                  total: 10
                  sortOrder: 0
                  tileSize: Small
                - id: ba43122d-5617-4ede-9ac9-238e2e3f0beb
                  title: Recovery
                  type: WORKOUTS
                  tiles:
                    - type: WORKOUT
                      workoutId: 2071f576-3622-4d43-87e6-2958ceee6543
                      resourceId: 2071f576-3622-4d43-87e6-2958ceee6543
                      assetId: 7150684c-b75f-4d06-9427-44fe66031bd9
                      title: Energizing Recovery Flow
                      duration: 1373
                      level: ADVANCED
                      targetArea: FULL BODY
                      coachId: 6881eee7-d506-4a89-bf29-889b75de6771
                      coachName: Kendall
                      publishedAt: "2026-02-01T14:30:02.533252Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      tag: Yoga
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                        - 44620722-1c4d-49a1-998e-4b6ace358246
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 8b9fe361-9a8c-4ec2-9452-272be9e7db8c
                      resourceId: 8b9fe361-9a8c-4ec2-9452-272be9e7db8c
                      assetId: 922c7b67-3eb6-4cde-8fce-9c39f6e850d1
                      title: Gentle Prenatal Energy Boost
                      duration: 996
                      level: BEGINNER
                      targetArea: FULL BODY
                      coachId: e30ec4dc-5f1f-4395-a06e-32358359a923
                      coachName: Ash
                      publishedAt: "2026-01-25T15:00:03.725994Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Fit And Fast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - c565a049-59b6-4028-9a9e-fb82385035b7
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Pre & Postnatal
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 81ac92bc-15c2-4eea-8d79-e6162353ee61
                      resourceId: 81ac92bc-15c2-4eea-8d79-e6162353ee61
                      assetId: b956bf16-dda0-4634-8194-230a611fc2b3
                      title: Breathe in Motion
                      duration: 1590
                      level: BEGINNER
                      targetArea: FULL BODY
                      coachId: 9498168a-0f56-4c05-a191-0e25ab9cbf52
                      coachName: Kristina
                      publishedAt: "2025-10-27T16:06:04.415965Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 7bdcd09d-ce7e-4c1f-a681-85c68b2701cc
                      resourceId: 7bdcd09d-ce7e-4c1f-a681-85c68b2701cc
                      assetId: bfffb018-f3e9-4779-8058-4b6ce2630e09
                      title: Flex with Finesse
                      duration: 1387
                      level: BEGINNER
                      targetArea: FULL BODY
                      coachId: 002a6841-fdaf-4086-9607-6d8c61e5a9fd
                      coachName: Tanysha
                      publishedAt: "2025-09-29T15:53:38.327652Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 50f3c57c-4145-4494-8f65-05598f4298a3
                      resourceId: 50f3c57c-4145-4494-8f65-05598f4298a3
                      assetId: c6db4eab-7df6-40c6-88d2-cd54196ac9cf
                      title: Roll to Restore
                      duration: 1790
                      level: INTERMEDIATE
                      targetArea: FULL BODY
                      coachId: 002a6841-fdaf-4086-9607-6d8c61e5a9fd
                      coachName: Tanysha
                      publishedAt: "2025-09-08T16:34:41.37269Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 6b3a969d-5195-4586-a090-bc62c60f4126
                      resourceId: 6b3a969d-5195-4586-a090-bc62c60f4126
                      assetId: 9da8bb02-11f6-4558-98d6-9e159f784018
                      title: Ease Into Foam Rolling
                      duration: 1209
                      level: BEGINNER
                      targetArea: FULL BODY
                      coachId: 94c66414-96c3-404f-9cb5-42a6f70bcd66
                      coachName: Tim
                      publishedAt: "2025-08-11T14:41:37.730705Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 691b509d-4cd7-490b-b815-607b9220cdf7
                      resourceId: 691b509d-4cd7-490b-b815-607b9220cdf7
                      assetId: 81d12e28-4cc5-445e-9d08-014c22589b0d
                      title: Stretch At Your Desk
                      duration: 1219
                      level: BEGINNER
                      targetArea: FULL BODY
                      coachId: 8dba5cde-0242-48ff-b2d3-e5099a8e15bc
                      coachName: Ackeem
                      publishedAt: "2025-05-19T16:25:19.281259Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                    - type: WORKOUT
                      workoutId: 49ef22a4-0905-479f-920d-038be6bedfe3
                      resourceId: 49ef22a4-0905-479f-920d-038be6bedfe3
                      assetId: 93705b6e-4bee-4db5-ba72-887d0c87b126
                      title: Recovery for Runners
                      duration: 2535
                      level: INTERMEDIATE
                      targetArea: FULL BODY
                      coachId: 9498168a-0f56-4c05-a191-0e25ab9cbf52
                      coachName: Kristina
                      publishedAt: "2025-04-07T17:13:53.767943Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                      trainingTypeIds:
                        - b454b40d-c503-4d7d-8d55-d58a50a4c2ae
                      mobileFriendly: true
                      supportedDevices:
                        - Classic
                        - T3
                      chips:
                        - label: Recovery
                          icon: on_the_go
                      compatibilityStatus:
                        status: supported
                        lockedReason: null
                  filterItemId: 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                  filterItemIds:
                    - 3f21d34d-ecad-4817-ad49-38a9a8e9741e
                    - 43b77f8e-8f4e-4809-bcf1-2527e57c2699
                  total: 125
                  sortOrder: 1
                  tileSize: Small
                - id: 90c9242a-0029-4324-a429-061ff1b2e8fe
                  title: Yoga
                  type: WORKOUTS
                  tiles:
                    - type: WORKOUT
                      workoutId: 1e923d17-37a8-4819-afe5-62303f088240
                      resourceId: 1e923d17-37a8-4819-afe5-62303f088240
                      assetId: 314ad067-a65b-4daa-87d3-c8f8e8f17e3c
                      title: Vinyasa Fascia Flow
                      duration: 2153
                      level: INTERMEDIATE
                      targetArea: FULL BODY
                      coachId: 6d07ef48-0c49-4575-8ac7-dd389429ffa0
                      coachName: Shelby
                      publishedAt: "2026-03-15T14:00:02.807086Z"
                      goalIds:
                        - 7db1553d-49f8-4768-a0d5-b4be410a3ff5
                      badge: Full Body Blast
                      filterItemIds:
                        - 42bbc661-7aba-47c0-8760-5450eade66ef
                      tag: Yoga
                      trainingTypeIds:
                        - 44620722-1c4d-49a1-998e-4b6ace358246
                      mobileFriendly: true
                      supportedDevices:
[...]
